html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}

/*fonts*/

@font-face {
    font-family: 'patronmedium';
    src: url('fonts/patron_medium_v1001-webfont.eot');
    src: url('fonts/patron_medium_v1001-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/patron_medium_v1001-webfont.woff') format('woff'),
         url('fonts/patron_medium_v1001-webfont.ttf') format('truetype'),
         url('fonts/patron_medium_v1001-webfont.svg#patronmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*clearfix*/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*main*/

body{
  font-family: 'patronmedium';
  background-color:#9ba2a8;
  background-image: url(images/bg.png);
  background-attachment: fixed;
}

a{
    text-decoration: none;
}

strong{
    font-weight: bold;
}



/*type*/

.title-tilt{
    transform:rotate(-4deg);
    -ms-transform:rotate(-4deg); /* IE 9 */
    -moz-transform:rotate(-4deg); /* Firefox */
    -webkit-transform:rotate(-4deg); /* Safari and Chrome */
    -o-transform:rotate(-4deg); /* Opera */
    float: left;
}

.title-max-tilt{
    transform:rotate(-10deg);
    -ms-transform:rotate(-10deg); /* IE 9 */
    -moz-transform:rotate(-10deg); /* Firefox */
    -webkit-transform:rotate(-10deg); /* Safari and Chrome */
    -o-transform:rotate(-10deg); /* Opera */
    float: left;
}

.mini-is{
    font-size: 40px;
    margin: -20px 0 0 146px;
    float: left; 
}

.here{
    margin: -70px 0 0 130px;
    float: left;
    
}

.luck{
    font-size: 85px;
}

.the-word {
    transform:rotate(-90deg)!important;
    -ms-transform:rotate(-90deg)!important; /* IE 9 */
    -moz-transform:rotate(-90deg)!important; /* Firefox */
    -webkit-transform:rotate(-90deg)!important; /* Safari and Chrome */
    -o-transform:rotate(-90deg)!important; /* Opera */
    float: left;
    font-size: 50px;
    margin-left: -10px;
    margin-top: 50px;
    position: relative;
    left: 13px;

}

p{
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin-bottom: 20px;
    line-height: 140%;
    font-size: 14px;
}

h1{
    font-size: 68px;
    text-transform: uppercase;
}

h3{
    font-size: 29px;
}


/*header*/

header{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 802;
    float: left;
}

.logo a{
    display: block;
    background-image: url(images/logo.png);
    width: 153px;
    height: 147px;
    float: left;
    margin-left: -153px;
    position: relative;
    left: 520px;
    bottom: 36px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.3);
    transition-duration: .2s;
    -moz-transition-duration: .2s; /* Firefox 4 */
    -webkit-transition-duration: .2s; /* Safari and Chrome */
    -o-transition-duration: .2s; /* Opera */
}

.logo a:hover{
    bottom: 30px;
    transition-duration: .2s;
    -moz-transition-duration: .2s; /* Firefox 4 */
    -webkit-transition-duration: .2s; /* Safari and Chrome */
    -o-transition-duration: .2s; /* Opera */
}

nav.main-nav-wrapper{
    width: 900px;
    margin: 0 auto;
    height: 20px;
    background-color: rgba(216,217,221,.9);
    padding: 20px 30px 30px 30px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.3);
}

ul.main-nav{
    list-style: none;
    float: left;
}

ul.main-nav li{
    float: left;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 11pt;
}

ul.main-nav li:nth-child(3){
    margin-right: 270px;
}

ul.main-nav li:last-of-type{
    margin-right: 0;
}


ul.main-nav li a{
    color: #000;
    transition-duration: .2s;
    -moz-transition-duration: .2s; /* Firefox 4 */
    -webkit-transition-duration: .2s; /* Safari and Chrome */
    -o-transition-duration: .2s; /* Opera */
}

ul.main-nav li a:hover{
    color: #f26223;
}

/*container*/

.center{
    margin: 0 auto;
    width: 960px;
}

.wrapped{
    margin: 0 auto;
    width: 960px;
    padding: 20px 20px;
    display: block;
    position: relative;
}



/*home*/

.home-descrip{
    margin: 50px 240px 0 200px; 
    float: left;
}

.bottom-image{
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    height: 448px;
    background-image: url(images/trees.png);
    float: left;
    position: fixed;
    left:0px;
       bottom:0px;
}

#bottom-image{
    z-index: -9999;
}

/*tequilas*/

.teq-arrow{
    width: 292px;
    height: 139px;
    background-image: url(images/teq-arrow.png);
    position: relative;
    left: -90px;
}

.drink-container{
    margin-top: 60px;
    width: 100%;
    float: left;
}

.bottle{
    width: 250px;
    height: 483px;
    background-image: url(images/bottle.png);
    background-repeat: no-repeat;
    float: left;
}

.drink-info-container{
    width: 700px;
    float: left;
    margin-top: 150px;
}

.drink-descrip{
    width: 250px;
    margin-left: 20px;
    
}

.reposado h3 {
    color: #f2631f!important;
}


h3.drink-title{
    color: #fff;
    padding: 13px 60px;
    float: left;
    margin-left: 117px;
    margin-top: 69px;
    background-image: url(images/tequilla-title-bg.png);

    background-position-x: -50px;

}


.recipie-title p{
    color: #000;
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.recipies{
    font-size: 23px;
    position: relative;
    top: 71px;
    left: 20px;
    margin-top: -60px;
    z-index: 800;
}

/*recipie overlay*/

.recipie-overlay{
    background-color: #fff;
    height: 400px;
}

.recipie-overlay h3{
    text-transform: uppercase;
    background-color: #6ec14b;
    color: #fff;
    padding: 5px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

ul.ingredient-list{
    font-size: 14px;
    margin: 10px 0 10px 20px;
}

.recipie{
    float: right;
    width: 300px;
}



.recipie p{
    margin: 0 0 5px 0;
}

.recipie-image img{
    width: 200px;
    height: auto;
    float: left;
    margin-top: 40px;
}

/*store locator*/

#storelocate{
    background-image: url(images/locator-bg.png);
    background-repeat: repeat-x;
    background-position-y: 220px;
}

#storelocate h1{
    margin-top: 40px;
}

.locator-banner{
    float: left;
    background-image: url(images/locator-input-bg.png);
    background-repeat: repeat-x;
    width: 100%;
    margin-top: 40px;
    float: left;
    padding: 27px 0;
}

.locator-banner h2{
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

.store-locator-container{
    width: 950px;
    height: 480px;
    margin-top: 20px;
    background-color: #f2f2f2;
    float: left;
    background-image: url(images/locator_ph.png);
}

/*photos and vids*/

.media-container{
    float: left;
    margin-top: 50px;
    height: 900px;
}

.box{
  float: left;
  padding: 5px;
}

#media-contain{
    clear: both;
    width: 960px;
    float: left;
}

.media-item img{
    width: 200px;
    height: auto;
}

.media-item{
    opacity: .8;
    transition-duration: .2s;
    -moz-transition-duration: .2s; /* Firefox 4 */
    -webkit-transition-duration: .2s; /* Safari and Chrome */
    -o-transition-duration: .2s; /* Opera */
}

.media-item:hover{
    opacity: 1;
    transition-duration: .2s;
    -moz-transition-duration: .2s; /* Firefox 4 */
    -webkit-transition-duration: .2s; /* Safari and Chrome */
    -o-transition-duration: .2s; /* Opera */
}

/*process*/

.process-descrip{
    float: left;
    margin-top: 30px;
    margin-right: 300px;
}

.process-slider{
    background-image: url(images/process-slider-bg.png);
    padding: 20px 20px 60px 40px;
    float: left;
    background-repeat: no-repeat;
}


/*sections*/

.section{
    padding: 100px 0;
}

.section:first-of-type{
margin-bottom: 150px;
}


/*footer*/

footer{
    background-color: #b2b2b2;
    color: #fff;
}

footer p{
    font-size: 12px;
}

footer a{
    color: #f26223;
}

footer a:hover{
    color: #df4b0a;
}

.footer-col{
    width: 270px;
    float: left;
    border-right: 1px solid #fff;
    padding: 10px;
    margin: 10px;
    height: 120px;
}

.footer-col:last-of-type{
   border-right: none;
}

footer h1{
    font-size: 18px;
    margin-bottom: 10px;
}

/*social bar*/

.social-bar{

    background-image: url(images/social-bar-bg.png);
    background-repeat: repeat-x;
    background-color: #b2b2b2;
}

.social-bar p {
    float: left;
    margin-top: 30px;
    margin-right: 10px;
}

.social-bar a{
    color: #fff;
}

.social-bar .wrapped{
    padding: 15px 10px;
}

ul.social-icons{
    float: right;
    list-style: none;
    margin-top: 10px;
}

ul.social-icons li{
    float: left;
    margin-left:10px;
}

ul.social-icons li a{
    float: left;
    display: block;
    opacity: .8;
    transition-duration: .2s;
    -moz-transition-duration: .2s; /* Firefox 4 */
    -webkit-transition-duration: .2s; /* Safari and Chrome */
    -o-transition-duration: .2s; /* Opera */
}

ul.social-icons li a:hover{
    opacity: 1;
    transition-duration: .2s;
    -moz-transition-duration: .2s; /* Firefox 4 */
    -webkit-transition-duration: .2s; /* Safari and Chrome */
    -o-transition-duration: .2s; /* Opera */
}

.facebook, .twitter, .pintrist{
    width: 56px;
    height: 46px;
}

.facebook{
    background-image: url(images/facebook.png);
}
.twitter{
    background-image: url(images/twitter.png);
}
.pintrist{
    background-image: url(images/pintrist.png);
}